{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We create solutions for all sectors · Cyber security · Public facing-Digital Services · High Priority Systems · Cross-Government Collaboration and Scalable Services">
    <meta name="author" content="Eduardo-Fajardo-Marcial" >
    <meta name="Robots" content="all" />
    <meta name="keywords" content="software consulting,computer network services,computer security services,it staffing,software design,cloud-base services,computer password retrieval,remote access computer support,managed it services,computer support and service,computer security,business software, interprise software,business computer services, business computer support, wifi for business,business wifi optimize,business computer services,computer services,computer support and services,it help desk, help desk, computer support, IT help desk, wifi, network service, managed services, IT Services, it services, help desk, computer help, computer security, Computer Help, virus, computer virus, network sercurity, network firwall, network upgrade, wifi cloud security, cloud security, IT call center, 24/7 IT Help, 24/7 computer help, 24/7 IT Service, ">

    <!--Bulma CSS framework cdn link-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!--Local main.css file -->
    <link rel="stylesheet" href={% static "app/css/main.css" %}>

    <!-- Links to font awesome -->
    <script src="https://kit.fontawesome.com/4156d66cb5.js" crossorigin="anonymous"></script>

    <!--link to W3 Schools css for animated text-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>{% block title %}Home Page{% endblock title %}</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
          <img src="{% static 'app/images/main_logo.png' %}" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="200" height="80">
        </a>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <!-- 'navbar-start' will appear on the left of the navbar -->
          <div class="navbar-start">

          </div>
        <!-- 'navbar-end' will appear on the right of the navbar -->
          <div class="navbar-end">
              <!--First item of the navbar is a service dropdown -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Services</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Service 1</a>
                    </div>
                </div>

              <!-- I can probably add a for loop for pages in the webpage -->
                <a class="navbar-item">Contact Us</a>

                <a class="navbar-item">Careers</a>

                <a class="navbar-item">About Us</a>

                {% if user.is_authenticated %}
                   <!--Going to change this to a user icon later-->
                    <a class="navbar-item" href="{% url 'admin_page' %}">Admin</a>
                {%  else %}
                    <a class="navbar-item" href="{% url 'login' %}">Login</a>
                {% endif %}

          </div>
      </div>

    </nav>
    {%  block content %}
    {% endblock content %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all 'navbar-burger' elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each item
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', ()=> {

                    // Get the target from the 'data-target' attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target)

                    // Toggle the 'is-active' class on both the 'navbar-burger' and the 'navbar-menu'
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>